<div class="filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select panelClass="sort-select" [(ngModel)]="sort">
            <mat-option value="name">Name</mat-option>
            <mat-option value="price">Price</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="items">
    <div class="item">
        <div class="item-thumb-container">
            <img src="https://preview.pngtab.com/8/21/23/twAix6rRA3/notepad-ico-iwork-grass-green.jpg" alt="Thumbnail" class="item-thumbnail">
        </div>
        <div class="item-whole-description">
            <p class="item-name">Name</p>
            
        </div>
    </div>
</div>

<div>
    <table id="items">
        <tr>
            <th *ngFor="let column of headers">
                {{ column }}
            </th>
        </tr>

        <tr *ngFor="let row of item">
            <td *ngFor="let column of headers">
                {{ row }}
            </td>
        </tr>
        
    </table>
</div>