<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Recursive:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">



<div class="items">
    <ng-container *ngFor="let obj of item">
        <div class="item" (click)="openItemDetails(obj.name)">
            <div class="item-name">
                <p class="item-name">{{ obj.name }}</p>
            </div>
            <div class="item-description">
                <p class="item-description">{{ obj.description }}</p>
            </div>
            <div class="item-price">
                <p class="item-price">Price: ${{ obj.price }}</p>
            </div>
        </div>
    </ng-container>
</div>

