.details-wrapper{
    max-width:900px;
    margin: 20px auto;
    position: relative;
}

.details{
    .item {
        &-banner{
            height: 442px;
            overflow: hidden;
        }

        &-img{
            width: 100%;
            filter: blur(2px);
        }

        &-content {
            text-align: center;
            position: relative;
            top: -200px;
        }

        &-header{
            &-title{
                font-size: 70px;
                font-family: 'Rampart One', cursive;
                color: #ffffff;
                font-weight:700;
                line-height:70px;
            }

            &-price{
                color:#00ff228e;
                font-family: 'Anton', sans-serif;
                font-weight: 700;
            }

            &-description{
                color: #1a81bd;
                font-family: 'Edwardian Script ITC';
                font-weight: 700;
            }
        }
    }
}