<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Recursive:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">


<div class="details">
    <div class="item-banner">
        
    </div>
    <div class="item-content">
        <div class="details-wrapper">
            <ng-container *ngFor="let obj of item">
                <div class="item-header" *ngIf="obj.id==getId()" @fade>
                    <h1 class="item-header-title">{{ obj.name }}</h1>
                    <h2 class="item-header-price">Price: ${{ obj.price }}</h2>
                    <h1 class="item-header-description">{{ obj.description }}</h1>
                </div>
            </ng-container>
            <app-item-tabs></app-item-tabs>
        </div>
    </div>
</div>