<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Recursive:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">


<div class="details">
    <div class="item-banner">
        <img class="item-img" 
        src="https://img.freepik.com/free-vector/construction-with-black-yellow-stripes_1017-30755.jpg?size=626&ext=jpg"
        alt="Image"
        />
    </div>
    <div class="item-content">
        <div class="details-wrapper">
            <div class="item-header">
                <h1 class="item-header-title">Name</h1>
                <h2 class="item-header-price">Price:$</h2>
                <h1 class="item-header-description">Description</h1>
            </div>
        </div>
    </div>
</div>